      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
     .calculator {
       display: inline-block;
       height: 300px;
       width: 250px;
       background-color: #FFCCFF;
       border: 5px solid #FF99FF ;
       border-radius: 7%;
     }
     .display {
       height: 50px;
       width: 240px;
       border-radius: 15%;
       border-top-left-radius: 14%;
       border-top-right-radius: 14%;
       background-color: #009999;
       background: linear-gradient(to right, #7A7FBA, #11C37C); 
       margin-left: 5px;
       margin-top: 6px;
       display: block;
     }
     .total {
       height: 25px;
       width: 220px;
       text-align: justify;
       /*border: 1.5px solid #ffffff;*/
       border-radius: 7%;
       padding: 05px;
       margin-left: 4px;
       margin-top: 6px;
       display: inline-block;
     }
     .table {
       border-radius: 5px;
       height: 240px;
       width: 240px;
       margin-left: 4px;
       display: flex;
       justify-content: center;
       align-items: center;
     }
     button {
       cursor: pointer;
       border-radius: 10px;
       border: none;
       height: 100%;
       width: 100%;
       background-color: #66B2FF;
       box-shadow: 1px 1px 5px;
       transition: opacity 0.6s;
     }
     .table button:hover {
       opacity: 0.7;
       background-color: #99CCFF;
       color: #CCE5FF;
     }
     .hor1, .hor2, .hor3 {
       margin-left: 1px;
       margin-top: 3px;
       width: 100%;
       height: 32.5%;
       display: inline-block;
       border: none;
     }
     .ver1, .ver2, .ver3 {
       height: 100%;
       width: 100%;
       border: none;
     }
     
/* CSS */
.button-30 {
  margin-left: 10px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  /*-webkit-user-select: none;*/
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}